[2018-09-24 14:24] lich12345 opened #3 "CrashLoopBackOff error"
NAMESPACE NAME READY STATUS RESTARTS AGE
auth dex-d7f5666ff-5r7z4 1/1 Running 0 14m
auth loginapp-5fdc77b6b5-mwx2s 0/1 CrashLoopBackOff 4 2m

dex-cm.yml
...
oauth2:
skipApprovalScreen: true

staticClients:
- id: loginapp
  redirectURIs:
  - 'https://139.126.118.237:32002/callback'
  name: 'Loginapp'
  secret: 4TORGiNV9M54BTk1v7dNuFSaI6hUjfjr
- id: web
  redirectURIs:
  - 'https://139.126.118.237:3

[2018-10-03 17:27] fydrah commented on #3
Hi,

Could you print the output of:
[code]
It seems the entrypoint/cmd is not correct, it should start the container with:
[code]

[2018-10-12 07:38] Demonsthere opened #5 "Issues with LetsEncrypt certificates"
Hi,
I have been using Your loginapp as a part of the [k8s-ldap](https://github.com/ObjectifLibre/k8s-ldap) setup, however I have encountered a problem with handling certificates that were created by [cert-manager](https://cert-manager.readthedocs.io/en/latest/):

`x509: certificate signed by unknown authority`

I suspect that the problem is, that the loginapp is based on scratch and doest not have

[2018-10-12 18:05] fydrah commented on #5
Hi @Demonsthere ,

Yes, you must mount letsencrypt CA on the loginapp pod, and use the following configuration for loginapp:
[code]

[2018-10-15 07:33] Demonsthere commented on #5
Hello,
I though this was the ca I had set in the api-server as my OIDC `oidc-ca-file`, or at leats that was what I understood from k8s-ldap.
However, now I am trying to set it up with SAML.

[2018-10-15 18:16] fydrah commented on #5
Yes it should be the same CA you provided to api-server, because this should be the same issuer.
In your case, if you used letsencrypt to issue a certificate for Dex (your issuer), you should provide letsencrypt root ca.

[2018-10-15 18:18] fydrah commented on #3
Hi @lich12345, any news about this issue ?

[2018-10-15 19:37] lich12345 commented on #3
Had to rebuild it:

Here is kubectl describe:
`kubectl describe deployment loginapp -n auth
Name:                   loginapp
Namespace:              auth
CreationTimestamp:      Mon, 15 Oct 2018 13:28:08 -0600
Labels:                 app=loginapp
Annotations:            deployment.kubernetes.io/revision: 1
Selector:               app=loginapp
Replicas:               1 desired | 1 updated | 1 total

[2018-10-15 21:46] fydrah commented on #3
Okay, like I said a cmd/entrypoint is missing in the deployment.
As you can see, in the [Dockerfile](https://github.com/fydrah/loginapp/blob/master/Dockerfile#L16) we only specify `/loginapp` for entrypoint.

You have to update loginapp deployment manifest, and add these lines to the pod description:
[code]
This should work.

You can also completely override the default entrypoint:
[code]

A sugge

[2018-10-16 07:05] #5 closed

[2018-10-22 23:37] emptywee opened #6 "Customize "Copy this in your ~/.kube/config file" page"
Hi and thanks for the great login app.

Is there any plans to allow customization of the "Copy this in your ~/.kube/config file" page? I'd like to make it a bit more clear where to place it exactly. And maybe provide per-cluster instructions.

Just curious at this time.

[2018-10-23 07:35] fydrah commented on #6
Hi @emptywee ,

This was not planed, but it is a good idea.

I could extract the HTML templates from the code, then you will be able to configure whatever you want in the template (no need to re-create the image, you could use a configmap to override the HTML template you want).

Could this suit to your needs ?

[2018-10-23 14:04] emptywee commented on #6
Absolutely. Would be a good start! 👍

[2018-10-25 12:54] arminioa opened #9 "No required SSL certificate was sent"
Hi,

I'm trying to deploy dex and loginapp in a kubernetes cluster.
Both dex and loginapp are exposed through a nginx ingress controller and both require authentication with client certificates.
With this setup, loginapp is not able to connect to dex since dex needs a client certificate and its private key in order to accept the connection.
I suppose that loginapp configuration for issuer(dex in m

[2018-10-28 09:38] fydrah commented on #9
Hi @arminioa,

It's your ingress which requires certificate authentication that's it ?

Currently I did not plan to include certificate auth into loginapp (because I think dex does not support it).

If you need to quickly test your setup, you can use an auth proxy like [ghostunnel](https://github.com/square/ghostunnel) (in client mode: loginapp <---> ghostunnel in client mode <---> ingress). You c

[2018-10-29 12:15] fydrah commented on #6
Hi @emptywee,
The feature has been merged on 2.4.0

[2018-10-29 13:21] arminioa commented on #9
Hi @fydrah

Yes my ingress is configured to require certificate authentication for security reasons.

I'm able to make it work without certificate authentication.
I thought this could be an useful feature for those which wants an extra level of security but you're right dex does not support it.

Thanks for your response
Cheers

[2018-10-29 13:21] #9 closed

[2018-10-30 23:30] fydrah commented on #3
Hi @lich12345, do you still have issues during loginapp startup ?

[2018-10-30 23:32] fydrah commented on #6
I'm closing this issue since the feature has been merged.

Do not hesitate to open a new one if you have other feature request/issues.

[2018-10-30 23:32] #6 closed

[2018-10-31 10:27] nikolajbrinch opened #10 "feature: cmd-line login"
It would really help us, if loginapp could potentially be used as a service, where the token etc. can be gotten from the command line, and not via the browser. We are in a situation, where this usage pops up several times.
As a web browser is mandatory for Open ID Connect, as far as I read the spec. I was wondering if it would be possible to use ie. Chrome headless in a sidecar, to do the actual l

[2018-10-31 13:10] lich12345 commented on #3
N,o everything is good thanks for the help!

[2018-10-31 14:48] fydrah commented on #3
Okay ! Thanks for the feedback, I close this issue.

[2018-10-31 14:48] #3 closed

[2018-11-02 20:41] fydrah commented on #10
Hi @nikolajbrinch ,

Yes this could be a great feature, unfortunately I currently don't know (and didn't search) how to implement this.
If you have ideas, I'll be glade to discuss design of the feature with you.

I'll start to work on this on the following days.

Regards,

[2018-11-02 22:51] nikolajbrinch commented on #10
Well if I were to do it, with my background as Java backend developer, I would do a small micronaut service in a sidecar, that would use something like selenium to instrument a headless chrome in the same sidecar, to emulate the client.
But it can probably be done in another way that is done using Go, but I really wouldn’t know how.
I can take a stab at trying to do that and then you can maybe rev

[2018-11-02 22:53] nikolajbrinch commented on #10
Oh, in that way you can HTTPS POST the the service to get token information (login). Then curl would be everybody’s best friend.

[2018-11-05 18:06] fydrah commented on #10
Based on what you said (if I understood what you want to do :p), the auth process will be managed by the server side with the following workflow:
* **client** run an cli authentication, ex: `loginapp auth https://loginapp.example.org -u john -p password`
* loginapp **server** handles requests:
  * manage a sidecar container (with selenium for example):
    * opens a browser
    * fulfill user/pass

[2018-11-05 21:00] nikolajbrinch commented on #10
I think that is what we need. No Selenium isn't needed, if we can do it in Go. I just have a long history with Java, and knows what tools (WebDriver) that can be used from that angle.
It could probably also be done from JS with all the libraries for this type of stuff (Jasmine, PhantomJS etc).

[2018-11-06 09:07] fydrah commented on #10
I had successful test results with chromedp:
[code]
(as you can see we retrieve the output of the token).

I think this could be the solution

[2018-11-06 15:36] nikolajbrinch commented on #10
That sounds really nice! Great work.

Could client be curl? What I think is that simple HTTP(S) would be a nice client for this, so one could contact loginapp, that would do the login and send back the JSON.

[2018-11-06 20:39] fydrah commented on #10
I think that it could be a new endpoint on loginapp API, so yes you could retrieve token with a curl

[2018-11-19 15:56] arminioa opened #11 "Does it support refresh token ?"
Hi,

I can't figure out how to configure loginapp to return a refresh token.
Does it support it?

Thanks

[2018-11-21 19:50] fydrah commented on #11
Which version of loginapp do you use and what is the configuration ?

[2018-11-26 03:43] fydrah commented on #11
Do you use *oidc.offline_as_scope* option ?

[2018-12-01 08:42] arminioa commented on #11
Hey @fydrah,
Sorry for my late response.
It seems that I missed this option _ offline_as_scope: true_ as you said.

Thank you for your support.

[2018-12-01 08:42] #11 closed

[2018-12-01 09:09] fydrah commented on #11
You're welcome ;)

[2019-02-27 15:27] jpecar opened #13 "dns lookup broken"
I'm getting "dial tcp: lookup dex.example.com on 169.254.25.10:53: no such host" where example.com is actually a real domain, but I have no idea where 169.254.25.10 is coming from. There's no dns on that IP that would be able to answer and as a result loginapp does not start up.

Googling around tells me this is somehow related to docker enigne config but I find this unlikely since this particular

[2019-02-27 20:38] fydrah commented on #13
Hi @jpecar ,

First question: how do you deploy loginapp ? On kubernetes ? On a single docker host ? Without docker, just using the binary ?

You can find an example of local deployment (for testing purposes) [here (with docker-compose)](https://github.com/fydrah/loginapp/blob/master/docker-compose.yml). In this file, I use a [static host entry](https://github.com/fydrah/loginapp/blob/master/docke

[2019-02-28 15:12] jpecar commented on #13
We deploy to kubernetes environment set up by kubespray.

Is /etc/hosts file the only way this app knows how to resolve names?

[2019-02-28 19:09] fydrah commented on #13
No, loginapp will use your resolvconf, hosts file is just used for testing :)
In a Kubernetes environment, loginapp will be able to resolve services like any other app.

Currently, no. You can quickly generate testing certs with [this script](https://github.com/dexidp/dex/blob/master/examples/k8s/gencert.sh)

[2019-03-01 08:55] jpecar commented on #13
I did try to add /etc/resolv.conf into the container, without change in behavior. It's still trying to query nonexistant dns on a link-local ipv4 address. I guess this must either be some quirk of muse-libc used by alpine or something I don't know yet about kubernetes-docker interaction.

Anyway, hosts entry works for now and is good enough for testing.

Should we continue discussing cert isuse in

[2019-03-01 09:54] jpecar commented on #13
Ok, I sorted out the certs ... next issue looks like dex related:
https://dex.example.local/dex/.well-known/openid-configuration gives me the expected json, but
https://dex.example.local/dex/ is 404 which loginapp doesn't like.
What should be there and why is it not there?

[2019-03-01 20:48] fydrah commented on #13
Hi @jpecar ,

Could you paste your loginapp & dex configuration (without secrets) ?
Also, could you show me how you deploy loginapp on kubernetes ?
It is harder to help you without more visibility.

[2019-03-07 11:23] maxh8086 opened #16 "ADFS compatibility"
Have tested Kubernetes with ADFS oAuth / OIDC Successfully, but to generate .kube/config via loginapp URL need addition to provide resource URL

[2019-03-07 11:27] maxh8086 commented on #16
![image](https://user-images.githubusercontent.com/48318337/53953546-9a396d80-40f9-11e9-8010-6f612a49e739.png)

![image](https://user-images.githubusercontent.com/48318337/53953565-a9b8b680-40f9-11e9-9e78-8c548ede2a0c.png)

Ref URL
![image](https://user-images.githubusercontent.com/48318337/53953572-b210f180-40f9-11e9-88f1-a88b022e6f0a.png)

I personally have tested it with  &resource= using adfs

[2019-03-07 19:42] fydrah commented on #16
Hi @maxh8086 ,

Based on your tests, could you give as example:
* What behaviour for loginapp do you expect
* What behaviour do you currently have

This will help to understand your problem.

Regards

[2019-03-08 09:59] maxh8086 commented on #16
We have configured Loginapp to point ADFS where in ADFS is sucessfully able to generate and provide us token, but the problem is without providing "Resource" in web Query (probably Get or Post) we do not get custom claims like email and group membership which fails to process further Authentication / Authorization with Kubernetes due to missing email / group claim.

ADFS Expect Resource in post wh

[2019-03-08 15:11] jpecar commented on #13
Ok, after some studying of what talks to what and how, I got this to work.

My next two challenges:
"Copy this into your .kube/config file" text returned is not suitable for a brainless copy/paste. There needs to be at least a cluster, context and current-context definition. Only then can the presented text chunk be appended to .kube/config. Can this be documented with some examples somewhere?

So

[2019-03-08 18:55] fydrah commented on #16
@maxh8086 could you try this branch ?
[code]
You can add the following configuration:
[code]

[2019-03-11 08:28] maxh8086 commented on #16
Hello,

i am trying to configure your given image with below configmap in kubernetes, let me know whats wrong with extra_auth_code_opts placement and option that i specify is correct:

  config.yaml: |
    debug: true
    client_id: "4a3f41ff-2fx7-4ec0-b010-b5ax2bf23fx9"
    client_secret: ykRdmYc38h861W9knaHLVeuTlIDaDrB1dHJwAwZP
    issuer_url: "https://adfssrv.domain.com/adfs"
    issuer_root_ca

[2019-03-11 08:30] maxh8086 commented on #16
Correction in representation
[code]

[2019-03-11 10:06] maxh8086 commented on #16
Till now i tried to make it working without "extra_auth_code_opts:" option but new image is not working.. please let me know if there is something i need to change here..

kubectl logs loginapp-798f995994-vf62c -n auth-system
NAME:
   loginapp - A new cli application

USAGE:
   Web application for Kubernetes CLI configuration with OIDC

COMMANDS:
     serve    Run loginapp application
     help, h

[2019-03-11 12:50] fydrah commented on #16
Ho, it seems you use an old configuration format :/

Check [README.md](https://github.com/fydrah/loginapp/tree/extra-auth-codes-opts#configuration) and adapt your configuration.

Also, if you run loginapp in kubernetes, use this as command in your manifest:
[code]

You can also check [this helm chart](https://github.com/ObjectifLibre/kube-oidc) for you deployments, I just updated it a fex days ago

[2019-03-11 12:52] fydrah commented on #16
Warning, in the new configuration format, `extra_auth_code_opts` is a key in `oidc` section:
[code]

[2019-03-12 09:29] maxh8086 commented on #16
Thanks for quick support, Loginapp is working perfect with given modifications. liked the new UI Enhancement and response time.

[2019-03-12 09:31] maxh8086 commented on #16
one more request.. can you also make some changes to generate a downloadable .kube/config which could be useful in many ways..

like: shell\kubectl, powershell\kubectl as well as for dashboard.

[2019-03-12 10:46] fydrah commented on #16
Kubeconfig enhancement is also asked in #13, I will include this in future update.

Currently, do you need extra auth options fields for refresh token (= does "resource" has to be included in kubeconfig as auth-provider-arg ) ?

[2019-03-13 07:35] maxh8086 commented on #16
This is what it look for Refresh token, Answer was there in same URL :p

Parameter | Value
-- | --
grant_type | "refresh_token"
resource | RP ID (Identifier) of Web API in application group
client_id | client Id of the native application in the application group
refresh_token | the refresh token issued by AD FS in response to the initial token request

Just an update :

This What we are getting :

[2019-03-13 07:43] maxh8086 commented on #16
i am not sure if kubectl would go an and request for refresh token, dashboard may do..
considering kubectl as Native application here and dashboard as web application.

[2019-03-13 18:33] fydrah commented on #16
Hi @maxh8086 ,

You can try this new image:
[code]

This probably be the next release.

It does not include `kubectl config set-cluster ....` enhancement, as I said I will work on it soon.

[2019-03-16 10:20] maxh8086 commented on #16
Have deployed new image, will check on monday if token does auto refresh by kubectl.

have gone through docuement where it says, kubectl 1.3 would be able to refresh token.

[2019-03-22 09:08] maxh8086 commented on #16
Hello Flavin,

Sorry for delayed response, i have tested refresh token functionality today. however it seems to be not working as expected with ADFS. ADFS by default provide 1 hour validity to issued token, however after validating post 1 hr but before 2 hrs Token was expired and was not refreshed automatically.

Need to understand kubectl behavior to get new refresh token from ADFS automatically,

[2019-03-22 18:58] fydrah commented on #16
As said [here](https://docs.microsoft.com/fr-fr/windows-server/identity/ad-fs/overview/ad-fs-scenarios-for-developers#single-sign-on-behavior), you should check SSO_period for refresh tokens.

Also:
[code]
(https://kubernetes.io/docs/reference/access-authn-authz/authentication/#option-1-oidc-authenticator)
I hope adfs does, but you should check this too.

[2019-04-02 20:44] fydrah commented on #16
Closing this issue since feature has been released into version 2.6.0 .
Re-open if needed.

I forgot to answer to you:

If loginapp do this, it must store refresh token. This is not the purpose of this application, it is just a frontend to request tokens to dex and give them back to users with a friendly web page, not to handle authentication lifecycle.

Regards,

[2019-04-02 20:44] #16 closed

[2019-04-22 16:06] #13 closed

[2019-05-06 11:52] dmolik commented on #10
Is the current plan to target a kubectl plugin?

[2019-05-10 07:18] fydrah commented on #10
I have not given any news for a long time on this issue..

My first solution does not seem to be the good way:
* poor resilience: I had too much issues with chromedp due to random parsing failures
* performance issues:  waiting for the local chrome browser to launch, timeouts during queries..

This is not enough stable to base a cli tool on it.

An other approach of loginapp could be:
1. (implemen

[2019-08-30 14:21] jacekn opened #20 "Support oidc client secret from environment variable or file"
**Is your feature request related to a problem? Please describe.**

According to documentation and examples client secret needs to be provided as plain text in the config file. This means that the configmap can't be stored in a revision control system which is an inconvenience.

**Describe the solution you'd like**

Most k8s workloads allow for sensitive data to come from environment variables or

[2020-05-06 11:59] jetersen opened #23 "add include context and clusters for easy copy paste yaml file in `kubeconfig`"
**Is your feature request related to a problem? Please describe.**
Would be great to update the `kubeconfig` to include clusters and contexts.
At the moment we end up passing around our kubeconfig instead using the loginapp for both clusters and contexts.

contexts is again often used to shorten cluster names, so would be great to also include these in the shared

[code]

**Describe the solution y

[2020-05-11 13:17] #20 closed

[2020-05-11 13:58] fydrah commented on #23
hi @jetersen ,

yes loginapp currently only output credentials for kubeconfig, but there is a `clusters` section available (where you can provide a list of all your clusters). Does this not solve the problem ?

If you provide the following configuration to loginapp:

[code]

This will output something like (this)[https://github.com/fydrah/loginapp/blob/master/docs/img/demo.gif]

[2020-05-11 14:01] jetersen commented on #23
we already have the cluster config but currently only seeing the cluster config as cli commands. Perhaps we have a outdated loginapp version.

[2020-05-11 14:13] jetersen commented on #23
The idea was to have the kubeconfig configured as a whole instead of running kubectl config commands to add all the clusters.

This tool: https://github.com/corneliusweig/konfig
Might be helpful to import the whole kube config in one command.

[2020-05-11 14:16] FrederikNS commented on #23
I'm actually also rather interested in getting the complete kubeconfig. That means including all the `clusters` and `contexts`, as well as `apiVersion`, the generated `users` and even a `currentContext`.

That would make it very simple for new people to simply go to the loginapp download a complete config at dump it into their `.kube` directory. There could even be a `Download kubeconfig` button.

[2020-05-11 14:26] fydrah commented on #23
okay, in addition of credential kubeconfig format, a full kubeconfig like this one:
[code]

I think this can easily be achieved, if `len(clusters)>0` and  add a config key like `web.defaultCluster: cluster1` (if `len(clusters)>0`)

[2020-05-11 15:35] FrederikNS commented on #23
Yes, that's exactly what I was trying to explain!

[2020-05-11 15:39] fydrah commented on #23
![Screenshot from 2020-05-11 17-38-20](https://user-images.githubusercontent.com/10036180/81580920-55b8fa00-93ae-11ea-8199-8b57f3570761.png)

Is something like this OK ?

[2020-05-11 15:42] fydrah commented on #23
This has been generated with the following config:
[code]

[code]

New config available:

[code]

[2020-05-11 15:44] FrederikNS commented on #23
Looks perfect. Only request would be an actual download button, so you don't need to copy paste.

[2020-05-11 15:47] jetersen commented on #23
@fydrah Thanks for working on this, I was willing to contribute 😅

[2020-05-11 18:48] fydrah commented on #23
I've made some awful html/js trick for download link, but i think this should work....

[2020-05-11 18:53] #23 closed

[2020-05-11 21:15] FrederikNS commented on #23
Damn, that was quick! Thank you so much! I'll be deploying this tomorrow.

[2020-05-28 08:50] FrederikNS commented on #23
I'm sorry I got delayed. Life happened. Anyway, we just deployed the new v3.0.1 version on our infrastructure, and it's working beautifully!

Thank you so much!

[2020-05-28 08:50] FrederikNS commented on #23
@fydrah: I'm sorry I got delayed. Life happened. Anyway, we just deployed the new v3.0.1 version on our infrastructure, and it's working beautifully!

Thank you so much!

[2020-06-04 11:23] jetersen commented on #10
@fydrah hmm just discovered: https://github.com/int128/kubelogin
Perhaps we could combine the two of them?
As loginapp is useful for sharing kubeconfig.

[2020-06-08 10:00] fydrah commented on #10
hi @jetersen

yes you're right, no need to develop another cli tool since this one exists and is still under active development (and i cant do a cli tool as good as they've done :p )

I will add a note on documentation on how to configure loginapp & dex to work with (kubelogin)[https://github.com/int128/kubelogin], and maybe add an other panel on loginapp frontend to easily configure kubelogin (ku

[2020-06-08 12:50] jetersen commented on #10
perhaps a config flag to include the kubelogin in the full output?

[2020-06-12 12:22] jetersen commented on #10
I think we will switch kubelogin as it just works. Though we are still discussing if login app is needed as a sharing platform for the kube config.
Atm we use both loginapp and kubelogin due to not having switched entirely.

This is how we have dex configured for shared login duty between loginapp and kubelogin
[code]

We than have this in our kube config:

[code]

We use `kubelogin` on `PATH` as

[2020-06-26 08:47] #10 closed

[2020-07-01 11:24] rinrailin opened #26 "Return support for mounted template and assets"
**Is your feature request related to a problem? Please describe.**
It was very convenient to have the possibility to override default template and assets with volume mounts. Such possibility was removed in 3.0.0 release.

**Describe the solution you'd like**
It will be a good idea to check if template file and/or assets directory exists. If they exists -- use template/assets from file system. If n

[2020-07-02 08:04] fydrah commented on #26
hi, yes feature was dropped, my bad.
Thank you for the PR !
I'm currently looking at it.

[2020-07-02 14:40] fydrah commented on #26
PR #27 merged. Closing issue

Thanks !

[2020-07-02 14:40] fydrah commented on #26
/close

[2020-07-02 14:40] #26 closed

[2020-07-02 14:53] fydrah commented on #26
@rinrailin v3.1.0 has just been released, it contains PR #27 and a security fix

helm chart v1.0.2 (for app v3.1.0) also released

[2020-07-03 10:17] bsnape opened #29 "Support using a specific LoadBalancer IP"
**Is your feature request related to a problem? Please describe.**
It is sometimes necessary to require a specific IP for Kubernetes services (e.g. for DNS).

**Describe the solution you'd like**
Fixed in #28

**Additional context**
Tested internally and working across multiple clusters.

[2020-07-04 22:20] fydrah commented on #29
#28 merged, helm chart v1.0.3 deployed on repository.

Thanks!

[2020-07-04 22:20] #29 closed

[2020-11-18 05:34] r0bj opened #30 "Google OIDC: Error 400: invalid_scope invalid=[groups]"
**Describe the bug**

I use google as OIDC issuer. loginapp default OIDC scope is: "openid", "profile", "email", "groups". It seems that I can only add more scopes via configuration `oidc.extra.scopes` but I cannot change the default. It can be problematic in case of google because google is not accepting scope "groups", error message is generated:
[code]

**Loginapp & Dex version**
loginapp: v3.1

[2020-11-18 20:13] fydrah commented on #30
Hi @r0bj ,

You're right initial scopes are hard-coded https://github.com/fydrah/loginapp/blob/master/pkg/client/client.go#L138

I could export them in configuration, let the 4 initial scopes as default, and allow users to override it (`oidc.client.requested_scopes` for example).
This will obviously deprecate extra-scopes variable, but it will give more flexibility for users.

I'm going to write t

[2020-11-18 20:27] r0bj commented on #30
@fydrah Thanks!
After I've patched above code and remove "groups" everything works fine with google OIDC so far.

[2020-11-18 21:16] r0bj opened #31 "Add config parameter for context name in generated kubeconfig"
**Is your feature request related to a problem? Please describe.**
Currently context name in generated kubeconfig consists of `<cluster_name>/<username>`, eg.:
[code]

Usually username part is redundant and makes context names quite long. It would be useful to have an option how to build context name. In my case I would use context name as a just cluster name, e.g.:
[code]
Parameter could be hidde

[2020-11-19 00:44] r0bj opened #32 "Better compatibility with Google OpenID Connect: refresh-token"
**Is your feature request related to a problem? Please describe.**

Currently it is possible to use Google OpenID Connect as a loginapp OIDC issuer to generate kubeconfig but unfortunately generated user config lacks `refresh-token` field so after it expires (couple of minutes) we need to repeat auth procedure again. Using option `offlineAsScope: true` is not working because Google responds with:

[2020-11-19 01:23] r0bj commented on #32
After Google docs https://developers.google.com/identity/protocols/oauth2/openid-connect#refresh-tokens

and

[2020-11-19 02:50] r0bj commented on #32
It seems that Google implementation OpenID Connect is a little different in terms of offline feature, after https://godoc.org/github.com/coreos/go-oidc
[code]

[2020-11-19 03:08] fydrah commented on #32
Hi,

To achieve this I think you can use extra auth code options :
[code]

This will add the key/value our as an extra parameter

[2020-11-19 03:14] fydrah commented on #31
Hi,

Yes it could be done easily I think, we could keep cluster/username pair as a default but providing a way to override it with a var as you suggested.

[2020-11-19 03:27] r0bj commented on #32
I'm not sure if I fully understand it, after adding those config parameters, `access_type: offline` was added directly to the resulted kubeconfig:
[code]

So instead of expected additional fields `refresh-token` and `client-secret` there is `access_type: "offline"`.

[2020-11-19 03:42] fydrah commented on #32
From what I understood, google is waiting for "access_type=offline" in request instead of a scope. If it is correct, adding this option just append this on the authorisation code url, like this one:

[code]

[2020-11-19 03:47] fydrah commented on #32
oh, is seems loginapp templating does not handle refresh token display correctly in this case..

[2020-11-19 03:57] r0bj commented on #32
I was able to get from Google OIDC desired fields by adding extra config parameters:
[code]

It allowed me to generate kubeconfig like this:
[code]

So success, there are additional fields `refresh-token` and `client-secret` which should help with refresh authorization after token expire.

However I'm not sure why there are those fields from config pasted directly in kubeconfig: `access_type: "off

[2020-11-19 04:04] fydrah commented on #32
Yeah it seems google does not need these auth codes to refresh an access token (https://developers.google.com/identity/protocols/oauth2/web-server#httprest_7).

But according to a previous issue (https://github.com/fydrah/loginapp/issues/16#issuecomment-471949653), it was required for adfs compatibility (e.g. `resource` required in auth code options AND refresh token procedure)

[2020-11-19 04:07] fydrah commented on #32
Maybe we could split them in 2 parts:
* extra opts for auth code request
* extra opts for kubeconfig

Does token refresh work even with these options in configuration?

[2020-11-19 04:15] r0bj commented on #32
Yeah, that would work.

Yes, for now. But I would rather avoid having unneeded parameters in kubeconfig.

Thanks for help!
BTW great tool!

[2020-11-19 04:22] fydrah commented on #32
I agree it they are not required they should not be there.

so 2 more updates to come:
* Add documentation for google compatibility
* Change code & parameters to split auth code options & kubeconfig options

Your feedback is really appreciated, loginapp has never been tested against google oidc flow, this will help to improve compatibility!

[2020-11-19 20:28] #30 closed

[2020-11-19 20:29] #31 closed

[2020-11-19 20:31] fydrah commented on #30
Available soon on ``master`` and ``latest`` image tag https://quay.io/repository/fydrah/loginapp?tab=builds

[2020-11-19 20:32] fydrah commented on #31
Available soon on ``master`` and ``latest`` image tag https://quay.io/repository/fydrah/loginapp?tab=builds

[2020-11-25 22:44] #32 closed

[2020-11-30 19:26] r0bj opened #37 "Web.Kubeconfig.ExtraOpts expected a map, got 'string'"
**Describe the bug**
Config without explicitly defined `Web.Kubeconfig.ExtraOpts`:
[code]

Causing fatal error:
[code]

**Loginapp & Dex version**
loginapp: `v3.2.0`

**Expected behavior**
Config without explicitly defined `Web.Kubeconfig.ExtraOpts` use proper default which allow loginapp to run.

[2020-12-04 19:59] fydrah commented on #37
My bad...I made a mistake during config setup... Pushing update soon

[2021-01-02 23:50] sense-amid-madness opened #39 "{"level":"fatal","msg":"'Web.Kubeconfig.ExtraOpts' expected a map, got 'string'"}"
I'm trying to migrate from the old loginapp "objectiflibre/login-app:latest", and cannot get this one here to work. What I am currently getting is

{"level":"fatal","msg":"1 error(s) decoding:\n\n* 'Web.Kubeconfig.ExtraOpts' expected a map, got 'string'","time":"2021-01-02T23:33:48Z"}

in the logs the loginapp Kubernetes pod, same as in the previous issue. I tried to add the suggested snipped to t

[2021-01-03 09:51] sense-amid-madness commented on #39
Now I managed to get past the error using the older version 2.5.0, but first was stuck at "no root_ca specified".

With some experimenting, I found that it works with "root_ca" instead of "rootCA" as in the example config from the front page.

Moving back to v3.2.0, I noticed that also here, I can work around the above error by specifying "extra_opts" instead of "extraOpts".

I guess it's my fault

[2021-01-03 13:53] sense-amid-madness opened #40 "Web interface looks different than in demo screen shot?"
**Describe the bug**

I have setup the full login framework with dex now and it seems to work. However, after login to our cluster, the screen I see looks different than the one in your demo screen shot: There is no menu on the left hand side, and there is no full kubeconfig for users (just a box with the user credentials and one other with a kubectl command line).

When was the interface changed?

[2021-01-04 14:51] #37 closed

[2021-01-04 15:03] fydrah commented on #39
Hi @sense-amid-madness ,

This is a known issue reported in #37 .

I just push a fix in v3.2.1 (helm chart v1.0.5).

btw, the change from `root_ca` to `rootCA` has been made in v3.0.0 (check [release note](https://github.com/fydrah/loginapp/releases/tag/v3.0.0) ), all yml keys are now in lower camel case format. This was required for the change to cobra/viper CLI libs, and to allow overrrides from

[2021-01-04 15:07] fydrah commented on #40
Hi @sense-amid-madness ,

Yes UI has changed. Like I said in #39 a fix is available in `v3.2.1`.

New UI features are available since https://github.com/fydrah/loginapp/releases/tag/2.7.0

[2021-01-04 17:05] sense-amid-madness commented on #39
Thanks for your help, this explains much of the confusion with the names I had. I thought the fix for the previous issue was already online, so I was wondering why I was still getting it. I am only still confused why I could not work around it by defining the extraOpts manually, but maybe I made a mistake there.

I'll wait for v3.2.1 to show up on quay.io/fydrah and hope this will make everything

[2021-01-04 17:21] fydrah commented on #39
[code]
You should compare with https://github.com/fydrah/loginapp#configuration

Yes quay.io take is slow today. You can use master tag if you want to try, it is currently the same as v3.2.1.

[2021-01-04 18:00] sense-amid-madness commented on #39
Thanks much. I have everything working now, except one thing. In the old login app, the kubeconfig username was the same as the login ID, which is correct for my cluster. Here, it shows the email. I guess this is related to the configuration field "web.mainUsernameClaim". However, I tried various stuff to get the login id back ("id", "uid", "username", "name"), but it always failed with an error m

[2021-01-04 19:12] fydrah commented on #39
You have to check the claim returned by your IdP, for dex they are available at https://YOURDEX/.well-known/openid-configuration, ex:
[code]

[2021-01-05 23:35] r0bj commented on #37
@fydrah any reason there is no `quay.io/fydrah/loginapp:v3.2.1` available yet?

[2021-01-05 23:48] fydrah commented on #37
yep quay.io build stuck since yesterday... I triggered it again

[2021-01-05 23:51] fydrah commented on #37
cause: docker hub rate limiting...

[2021-01-06 00:00] fydrah commented on #37
I cannot rebuild image now, because of this fantastic rate limit. You still can use master image, it is the same code as v3.2.1

[2021-01-06 00:08] fydrah commented on #37
I pushed local build to v3.2.1, so you can use it now if you want

[2021-01-06 00:10] r0bj commented on #37
Thanks!

[2021-01-06 19:27] sense-amid-madness commented on #40
Ok, fix works. Thanks.

[2021-01-06 19:27] #40 closed

[2021-01-06 19:29] sense-amid-madness commented on #39
Thanks, this worked for me and I found the right setting.

Unfortunately, I noticed another thing which is missing compared to the old loginapp, and I do not see an option for this in the config: I do not get a refresh token, only the id token, so that I have to relogin after a day or so. What could be the reason for this?

[2021-01-13 21:48] fydrah commented on #39
Hi @sense-amid-madness ,

Refresh token configuration is detailed in documentation: https://github.com/fydrah/loginapp/blob/master/docs/deploy.md#refresh-token

`web.kubeconfig.defaultContext` changes the "default" context name generated only. If you change it, you also must change `clusters[*].contextName` to match the custom name.

[2021-01-14 11:09] sense-amid-madness commented on #39
Hi fydrah,

thanks for your help. Based on some documentation I read up on dex, I included "offline_access" in the list of scopes requested by loginapp, and this also resulted in me getting a refresh token.

Is there a difference between the config option "refreshToken: true" and this additional scope, or are both equivalent? Is "offlineAsScope" also another way of achieving the same effect?

[2021-01-25 12:52] knfoo opened #41 "Missing refresh token"
**Describe the bug**
I have setup loginapp with helm with `refreshToken: "true"`
But I do not get a refresh token

**Loginapp & Dex version**
loginapp: `latest`
dex: `v2.26.0`

**Configuration**
I have not done a lot of configuration changes from the values.yaml file.

[code]
Install Dex and connect it to AD with the ldap integration.

**Expected behavior**
I would expect to get a refresh token so

[2021-02-02 22:41] fydrah commented on #41
Hello @knfoo ,

Yes we have a problem... I checked and yes we log something like `request token with the following scopes: [openid profile email groups offline_access]` but in fact, the scope is not in the request URL:
[code]
I think I broke something during the last release. I check this and fix it asap

[2021-02-02 22:51] fydrah commented on #41
Ok I found why... https://github.com/fydrah/loginapp/blame/master/pkg/client/client.go#L51

Should be `c.Scopes` (which are prepared and should include offline_access scope) instead of `c.Config.Scopes`.

As a quick fix from your side, you can change the following option:
[code]

It will work until I'll fix it and publish the new image

[2021-02-03 10:10] knfoo commented on #41
Great that you found the root cause and thanks for the workaround :+1:

[2021-02-03 15:18] #41 closed

[2021-02-03 15:31] fydrah commented on #41
Released in [v3.2.2](https://github.com/fydrah/loginapp/releases/tag/v3.2.2)

[2021-02-03 15:35] fydrah commented on #39
Hi @sense-amid-madness ,

`refreshToken: true` is for Helm chart (the variable just setup `offlineAsScope: true` for loginapp), and `offlineAsScope: true` just append the `offline_access` to scopes as you figured out :)

We had an issue #41 for refresh tokens, it is now fixed in [v3.2.2](https://github.com/fydrah/loginapp/releases/tag/v3.2.2)

[2021-02-03 19:53] sense-amid-madness commented on #39
Thanks a lot for the help. Since everything is working fine now, I am closing the issue.

[2021-02-03 19:53] #39 closed

[2021-03-12 11:29] rpig2021 opened #43 "loginapp_request_duration constantly increases"
**Describe the bug**
loginapp_request_duration metrics constantly increase. I have loginapp/dex deployed on multiple clusters and want to setup an alert based on the loginapp_request_duration metric. Based on that: https://github.com/fydrah/loginapp/blob/master/pkg/server/prometheus.go#L42 I would expect that metric is more fluctuating when in my case(6 different deployment) it just increases.

Do

[2021-03-12 12:59] rpig2021 commented on #43
I review the logs and I see request_duration time but not sure if that should match the metrics:
`kubectl logs -n kube-system loginapp-c954f8d5-8dnb6 |grep '"code":50'
{"code":500,"level":"info","method":"GET","msg":"","path":"/callback?code=hk3venoebwgeppq42qjmegnr5\u0026state=gOpbh2WvVGzfx3TaSxsleqMPUBmuAqm8Mt4sQ4507Dk%3D","protocol":"HTTP/2.0","remote_address":"192.168.74.0:57398","request_dura

[2021-03-12 17:24] fydrah commented on #43
Hello @rpig2021 ,

Indeed, it seems I use `func (g *Gauge) Add(delta float64)` instead of func (g *Gauge) Set(value float64) for this gauge vector metric....bad mistake, I'll test and push the update soon

[2021-03-12 17:36] #43 closed

[2021-03-12 17:42] fydrah commented on #43
fixed in v3.2.3 (helm v1.0.7)

[2021-03-12 19:57] fydrah commented on #43
Re-open this issue and let me know if the fix does not solve your problem (it should!)

[2021-03-16 11:10] rpig2021 commented on #43
It works perfectly fine after the upgrade. Thanks for so quick fixup. [
<img width="1431" alt="Screenshot 2021-03-16 at 12 07 34" src="https://user-images.githubusercontent.com/80517863/111299670-82821180-8650-11eb-9cf9-f0897e0d2f6c.png">
](url)

[2021-05-06 14:39] Imunhatep opened #45 "Helm charts- provide custom templates for error and token pages"
**Is your feature request related to a problem? Please describe.**
Unable to provide/override custom html templates for loginapp

**Describe the solution you'd like**
Add configmap with `error.html` and `token.html` keys that will be mounted as a volume at `/web/templates/` overriding default templates.

**Describe alternatives you've considered**
Not much alternatives as this requires changes in

[2021-05-11 16:23] fydrah commented on #45
Hello @Imunhatep , indeed this could be nice to include this override, since we can override with the standalone cli, the helm chart should allow it also.
I'm going to look at the PR asap

[2021-05-18 15:16] #45 closed

[2021-05-18 17:34] fydrah commented on #45
Available in helm chart v1.1.0

[2021-06-17 14:49] boufleur opened #48 "helm repository is unreachable"
**Describe the bug**
I'm trying to install loginapp via the helm chart, but I'm getting a 403 error from registry.fhardy.fr

**Loginapp & Dex version**
loginapp: `v1.1.0`
dex: `v0.3.3`

**To Reproduce**
Steps to reproduce the behavior:
1. execute `helm repo add fhardy-stable https://registry.fhardy.fr/chartrepo/stable`

**Expected behavior**
Repository is added to helm

[2021-06-17 16:29] fydrah commented on #48
Hi,

yes I had some infra issues (I'm currently migrating a lot of things..). The repository is now available.

I will change the repository DNS soon for https://charts.fydrah.com/, I'll update the chart README then.

Thanks for the warning :)

[2021-06-21 12:05] boufleur commented on #48
Yes, I see it working now. Thanks.

[2021-06-21 12:05] #48 closed

[2021-09-14 14:30] sennerholm commented on #48
The old url is not working and it's still pointing to that in the README

[2021-09-14 15:03] fydrah commented on #48
This has been updated

[2021-09-25 16:33] jkroepke opened #49 "Support for int128/kubelogin"
**Is your feature request related to a problem? Please describe.**
Each time, the refresh_token gets expired, the config needs to be generated.

**Describe the solution you'd like**
I would like it know if you could add a kubeconfig file for the kubectl plugin https://github.com/int128/kubelogin, including a link for the installation manual.

**Describe alternatives you've considered**
Manual docu

[2021-10-08 01:59] HenryXie1 opened #50 "Issues with dex new release 2.30.0"
**Describe the bug**
After deploy new release of dex 2.30.0 via
https://github.com/dexidp/dex/blob/master/examples/k8s/dex.yaml

The loginapp is not working as expected

**Loginapp & Dex version**
loginapp: `v3.2.3`
dex: `v2.30.0`

**Configuration**

Current loginapp (and eventually dex) configuration (*without secrets*)
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to loginapp
2

[2021-10-08 03:57] fydrah commented on #50
Hi!

After a quick check, it seems you have an empty scope configuration parameter in your config
[code]

[2021-10-08 04:16] fydrah commented on #49
e.g. for dex expiration config --> https://dexidp.io/docs/id-tokens/#expiration-and-rotation-settings

I use 6h for idtoken and 48h (validForIfNotUsed) for refresh token on my configuration.

[2021-10-08 04:54] #50 closed, assigned to fydrah

[2021-10-08 04:59] fydrah commented on #50
I agree the configuration example `scopes: []` leads to some confusion. I'll update the doc to make the actual default match the content of the configuration example, and not only the comments.

In fact, you can avoid to specify most of the configuration parameters if you don't want to change them. In the case something is missing, the app does a configuration check at launch, so you'll have an er

[2021-10-10 23:17] HenryXie1 opened #51 "failed to query provider and 404 error"
**Describe the bug**
After deploy new release of dex 2.30.0 via
https://github.com/dexidp/dex/blob/master/examples/k8s/dex.yaml

The loginapp is not working as expected

**Loginapp & Dex version**
loginapp: `v3.2.3`
dex: `v2.30.0`

**Configuration**

Current loginapp (and eventually dex) configuration (*without secrets*)
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to loginapp
2

[2021-10-18 12:11] jkroepke opened #52 "kubectl 1.22 reports context was not found for specified context"
**Describe the bug**
kubectl is not going to work with the full kubeconfig provided by loginapp

[code]

**Loginapp & Dex version**
loginapp: `v3.2.3`

**To Reproduce**
Steps to reproduce the behavior:
1. login into loginapp
2. Click on 'full kubeconfig'
3. copy then to local filesystem to $HOME/.kube/config
4. run any command with kubectl (v1.22+)

**Expected behavior**
kubectl just works

**Addi

[2021-10-20 05:43] HenryXie1 opened #53 "Use base64 for cluster certificate authority"
We are automating deploy loginapp + dex.  We have difficulty on replace cluster certificate-authority strings.
[code]
It has pem format which has many lines and /n. The automation has difficulty to replace certficate-authority strings for different clusters.
Do you support base64 encode string for this certificate-authority? like

[code]
or any workaround would be much appreciated.

Thank you
Henr

[2021-10-20 17:24] fydrah commented on #53
HI @HenryXie1 ,

Yes that's something we could do.

Currently we use the `certificate-authority` value, what we could change is:
* check if there is a `certificate-authority-data` also (the b64 encoded cert)
* if yes use this one instead during templating (https://github.com/fydrah/loginapp/blob/v3.2.3/web/templates/token.html#L120 and https://github.com/fydrah/loginapp/blob/v3.2.3/web/templates/t

[2021-11-05 11:32] fydrah commented on #52
Hi,

I tested the generated kubeconfig with kubectl v1.22.3, it works as expected with no error:
[code]

What is your error message exactly?

[2021-11-05 19:25] jkroepke commented on #52
i agree. it was my fault. i figure out, bot setting need to be unset or set to equal values.

[code]

[2021-11-05 19:25] #52 closed

[2021-12-06 01:31] HenryXie1 opened #54 "404 error after we have nginx proxy in front of loginapp"
**Describe the bug**
After we put loginapp behind our nginx proxy,
it was working well when we have domain without /auth.   ie https://www.dexexample.com/
then we config nginx proxy to route traffic. domain/auth --> loginapp container  domain/dex --> dex container
ie https://www.dexexample.com/auth
we got below error from loginapp logs

{"code":404,"level":"info","method":"GET","msg":"","path":"/a

[2021-12-07 06:38] HenryXie1 commented on #54
I fixed myself on nginx side via add rwrite rules
[code]

[2021-12-07 06:38] #54 closed

[2022-01-11 16:01] fsdrw08 opened #55 "update helm template ingress apiVersion to compatible with k8s 1.19+"
**Describe the bug**
Error pops up when install loginapp via helm install which set ingress enabled to true in k3s version v1.22.5+k3s1

Error: INSTALLATION FAILED: unable to build kubernetes objects from release manifest: unable to recognize "": no matches for kind "Ingress" in version "networking.k8s.io/v1b

**Loginapp & Dex version**
loginapp: `vX.X.X`
dex: `vX.X.X`

**Configuration**
see https

[2022-01-11 17:16] #55 closed

[2022-01-11 19:21] fydrah commented on #55
Hi @fsdrw08 ,

Thanks for reporting the issue. You can try with chart v1.3.1, it supports kube v1.19+ ingresses api version (networking/v1).

[2022-01-15 07:30] fsdrw08 commented on #55
it works now, thanks

[2022-01-23 07:04] fsdrw08 commented on #53
I am in the same situation, for work around, I use yq to manipulate the content of ca, e.g.
`yq -i e '.config.clusters[0].certificate-authority = "'"$(sudo cat /var/lib/rancher/k3s/server/tls/server-ca.crt)"'"' /vagrant/HelmWorkShop/loginapp/values.yaml`

[2022-06-28 13:40] dborysenko opened #56 "Allow empty clientSecret"
**Is your feature request related to a problem? Please describe.**
It is a valid use case where OIDC Provider does not require client secret for a client. It would make sense to allow loginapp to accept no client secret.

**Describe the solution you'd like**
Make clientSecret field optional.

**Describe alternatives you've considered**

**Additional context**

[2022-06-28 14:38] fydrah commented on #56
Hi @dborysenko !

Ok, I didn't know this was possible, by any chance do you have an example or a documentation I could refer to for testing purpose?

[2022-06-28 14:47] dborysenko commented on #56
Hey @fydrah,
Thanks for quick response.
My use case is AWS EKS clusters using OIDC provider for authentication/authorization. EKS do not require clientSecret, moreover it does not even support clientSecret. Please refer to AWS doc: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-eks-identityproviderconfig-oidcidentityproviderconfig.html